* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    border: 0;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
}

#header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    margin-bottom: 28px;
}

#header-content .space {
    margin-right: 20px;
}

#header-content > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

#main-content {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 938px;
}

#video-content {
    flex: 3;
    margin-right: 25px;
}

#video-content .video-content-details > figure > img {
    width: 790px;
    height: 476px;
    margin-bottom: 16px;
}

#video-content .video-content-details > h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

#video-content .video-content-details > h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;
}

#video-content .video-content-details > p {
    width: 510px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #515151;
}

.video-content-details .video-content-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 17px;
}

.video-content-details .video-content-nav > button {
    width: 159px;
    height: 40px;
    left: 202px;
    top: 1px;
    background: #CC0000;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.video-content-details .inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.video-content-details .inline .space {
    margin-left: 8px;
}

.video-content-details .inline .color {
    font-weight: normal;
    color: #858585;
}





#video-bar {
    flex: 2;
}

.video-bar-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.video-bar-details > figure > img {
    width: 168px;
    height: 94px;
    margin-right: 16px;
    border-radius: 8px;
}

.video-bar-details > div > h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 8px;
}

.video-bar-details > div > h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #515151;
    margin-bottom: 7px;
}

.video-bar-details > div > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #515151;
}

.video-bar-details .video-bar-text {
    width: 196px;
}
